[Unit]
Description=Run scanner healthcheck every 20 minutes

[Timer]
# First check 5 minutes after boot so the scanner has time to come up first.
OnBootSec=5min
# Then every 20 minutes.
OnUnitActiveSec=20min
Unit=agent-healthcheck.service

[Install]
WantedBy=timers.target
