[Unit]
Description=Hive healthcheck for instance %i
Requisite=hive@%i.service
After=hive@%i.service

[Service]
Type=oneshot
User=__AGENT_USER__
Group=__AGENT_USER__
EnvironmentFile=/etc/hive/%i.env
ExecStart=/usr/local/bin/agent-healthcheck.sh
