[Unit]
Description=Run healthcheck for hive instance %i every 20 minutes

[Timer]
OnBootSec=5min
OnUnitActiveSec=20min
Unit=hive-healthcheck@%i.service

[Install]
WantedBy=timers.target
