[Unit]
Description=Kick outreach every 2 hours
Requires=kick-outreach.service

[Timer]
OnCalendar=0/2:00
AccuracySec=30s
Unit=kick-outreach.service

[Install]
WantedBy=timers.target
