[Unit]
Description=Supervised-agent healthcheck for instance %i
Requisite=supervised-agent@%i.service
After=supervised-agent@%i.service

[Service]
Type=oneshot
User=__AGENT_USER__
Group=__AGENT_USER__
EnvironmentFile=/etc/supervised-agent/%i.env
ExecStart=/usr/local/bin/agent-healthcheck.sh
